artifacts/**
runs/**
wandb/**

source/**
.track/**
samples/**
download.ipynb
upload.ipynb
upload.py

.gradient/
.ipynb_checkpoints/
__pycache__/
venv/

.vscode/

.tool-versions

client_secrets.json
.envrc
